<h1>Landing Page</h1>

<%= link_to 'Privacy Policy', privacy_policy_path, class: "btn btn-primary" %>


<%= icon('fas', 'flag') %>
<%= icon('far', 'flag') %>
<%= icon('fab', 'flag') %>
<span class="text-warning">
  <%= icon('fab', 'font-awesome', 'Font Awesome', id: 'my-icon', class: 'text-danger') %>
</span>

<div class="row">
    <div class="col-md-4">
      <div class="p-3 mb-3 swatch-primary">
        <%= link_to 'Primary', '#', class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 swatch-secondary">
      <%= link_to 'Secondary', '#', class: 'btn btn-secondary' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 swatch-success">
      <%= link_to 'success', '#', class: 'btn btn-success' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 swatch-danger">
        <%= link_to 'danger', '#', class: 'btn btn-danger' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 swatch-warning">
        <%= link_to 'warning', '#', class: 'btn btn-warning' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 swatch-info">
        <%= link_to 'info', '#', class: 'btn btn-info' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 swatch-light">
        <%= link_to 'light', '#', class: 'btn btn-light' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 mb-3 swatch-dark">
         <%= link_to 'dark', '#', class: 'btn btn-dark' %>
      </div>
    </div>
</div>