!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      You have enrolled to the course
      = link_to @course, url_for(@course)
    %p
      %b Enrollment Date:
      = @enrollment.created_at

    %p
      %b Course Price
      = number_to_currency @course.price

    %p
      %b Paid Price
      = number_to_currency @enrollment.price

    %p
      %b Instructor
      = @course.author

    %p After completing the course, you will be entitled to a Certificate of Completion.

    %p Regards,

    %p
      = link_to 'Videoskwela', root_url