.card
  .card-header
    .d-flex.justify-content-between.align-items-center
      = link_to user_path(user), class: 'text-decoration-none text-reset' do
        .fa.fa-user.me-1
        = user.email
      - if user.online?
        .badge.bg-success
          %small online
  .card-body
    %dl.row
      %dt.col-sm-3
        Signed up
      %dd.col-sm-9
        = time_ago_in_words(user.created_at)
        ago

      %dt.col-sm-3
        Sign In Count
      %dd.col-sm-9
        = user.sign_in_count

      %dt.col-sm-3
        Current Sign In At
      %dd.col-sm-9
        = user.current_sign_in_at

      %dt.col-sm-3
        Last Sign In At
      %dd.col-sm-9
        = user.last_sign_in_at

      %dt.col-sm-3
        Current Sign In IP
      %dd.col-sm-9
        = user.current_sign_in_ip

      %dt.col-sm-3
        Last Sign In IP
      %dd.col-sm-9
        = user.last_sign_in_ip

      %dt.col-sm-3
        Confirmed email?
      %dd.col-sm-9
        - if user.confirmed_at.present?
          .badge.bg-success Yes
        - else
          .badge.bg-danger No

      %dt.col-sm-3
        Created Courses
      %dd.col-sm-9
        = user.courses_count

      %dt.col-sm-3
        Enrolled Courses
      %dd.col-sm-9
        = user.enrollments_count

      %dt.col-sm-3
        Comments
      %dd.col-sm-9
        = user.comments_count

      %dt.col-sm-3
        Roles
      %dd.col-sm-9
        .d-flex.justify-content-between
          .roles
            - user.roles.each do |role|
              .badge.bg-info
                = role.name
          = link_to 'Edit', edit_user_path(user), class: 'btn btn-warning btn-sm py-0' if policy(user).edit?
