- page_title 'Users'

%h1.h3
  Users:
  = @users.size
  %small.text-muted
    Users:
    = @users.size

= search_form_for @q, class: 'row g-2 py-3' do |f|
  .col-auto
    = f.search_field :email_cont, class: 'form-control', placeholder: 'Email...'
  .col-auto
    = f.submit class: 'btn btn-primary me-1'
    = link_to users_path, class: 'btn btn-secondary' do
      .fa.fa-sync

.table-responsive
  %table.table.table-bordered
    %thead
      %tr
        %th= sort_link(@q, :id, 'ID')
        %th= sort_link(@q, :email, 'Email')
        %th= sort_link(@q, :created_at,'Created At')
        %th Sign In Count
        %th Current Sign In At
        %th Last Sign In At
        %th Current Sign In IP
        %th Last Sign In IP
        %th= sort_link(@q, :courses_count)
        %th= sort_link(@q, :enrollments_count)
        %th= sort_link(@q, :comments_count)
        %th= sort_link(@q, :student_lessons_count)
        %th Roles
    %tbody
      - @users.each do |user|
        %tr
          %td
            = link_to user.id, user
          %td
            .col-12
              = user.email
            = email_confirmation_status(user)
            = online_status(user)

          %td= user.created_at
          %td= user.sign_in_count
          %td= user.current_sign_in_at
          %td= user.last_sign_in_at
          %td= user.current_sign_in_ip
          %td= user.last_sign_in_ip
          %td= user.courses_count
          %td= user.enrollments_count
          %td= user.comments_count
          %td= user.student_lessons_count
          %td
            .d-flex.justify-content-between
              .roles
                - user.roles.each do |role|
                  .badge.bg-info
                    = role.name

!= pagy_bootstrap_nav(@pagy)
