.d-flex.flex-column.g-2{ style: "gap: .5rem;" }
  .row.g-2
    .col-6
      = link_to "Register", new_user_registration_path,
        class: "btn btn-success btn-lg btn-block",
        style: "width: 100%"

    .col-6
      = link_to "Login", new_user_session_path,
        class: "btn btn-success btn-lg btn-block",
        style: "width: 100%;"

  .pt-4
    %p.text-center.text-white.mb-3
      OR LOGIN WITH
      .d-flex.align-items-center.justify-content-between
        = link_to user_google_oauth2_omniauth_authorize_path,
          method: :post,
          class: "btn btn-xl btn-circle btn-google" do
          %i.fab.fa-google

        = link_to user_github_omniauth_authorize_path,
          method: :post,
          class: "btn btn-circle btn-xl btn-github" do
          %i.fab.fa-github

        = link_to user_facebook_omniauth_authorize_path,
          method: :post,
          class: "btn btn-circle btn-xl btn-facebook" do
          %i.fab.fa-facebook
