.d-flex.flex-column.g-2{ style: "gap: .5rem;" }
  .row.g-2
    .col-6
      = link_to "Register", new_user_registration_path,
        class: "btn btn-success btn-lg btn-block",
        style: "width: 100%"

    .col-6
      = link_to "Login", new_user_session_path,
        class: "btn btn-success btn-lg btn-block",
        style: "width: 100%;"

  .row.row-cols-1.row-cols-lg-3.g-3
    .col
      = link_to user_google_oauth2_omniauth_authorize_path,
        method: :post,
        class: "btn btn-lg btn-google" do
        Continue with
        %i.fab.fa-google.fa-fw
    .col
      = link_to user_github_omniauth_authorize_path,
        method: :post,
        class: "btn btn-lg btn-github" do
        Continue with
        %i.fab.fa-github.fa-fw

    .col
      = link_to user_facebook_omniauth_authorize_path,
        method: :post,
        class: "btn btn-lg btn-facebook" do
        Continue with
        %i.fab.fa-facebook.fa-fw
