- page_title 'Activity'

%h1 Activity

.list-group.mb-3
  - @activities.each do |activity|
    .list-group-item.d-flex.gap-3.py-3
      .align-self-center
        - if activity.owner
          = image_tag(activity.owner.avatar_url, class: "rounded-circle flex-shrink-0", width: 32, height: 32)
        - else
          .rounded-circle.flex-shrink-0.text-dark
            %i.fa.fa-user.fa-2x
      .d-flex.gap-2.w-100.justify-content-between
        %div
          %h6.mb-0
            - if activity.owner
              = link_to activity.owner, activity.owner
            - else
              someone
          %p.mb-0.opacity-75
            = activity.key.split('.').last.pluralize
            a
            = activity.trackable_type.downcase
            = render_activity activity
        %small.text-dark.text-end
          .text-nowrap
          = activity.created_at.strftime("%b %d, '%y")
          .text-nowrap{ style: "font-size: .75rem"}
            = time_ago_in_words activity.created_at
            ago


!= pagy_bootstrap_nav(@pagy)