- page_title "Online Course - Learn anything on your schedule"

= render "hero"

= render "features"

= render "enrolled_courses"

= render "popular_courses"

= render "top_rated_courses"

= render "new_courses"

= render "popular_topics"

= render "course_reviews"
