- page_title "Online Course - Learn anything on your schedule"

.p-5.mb-4.bg-light.rounded-3
  .display-4
    What do you want to learn today?

  .p-4

  .form-inline.my-2.my-lg-0.col-md-4
    = search_form_for(@ransack_courses, as: :courses_search, url: courses_path, class: 'd-flex') do |f|
      = f.search_field :title_or_short_description_cont, autocomplete: 'off', placeholder: 'Search course', type: 'search', class: 'form-control me-2'
      %button.btn.btn-outline-success{:type => "submit"} Search

.card-group.mb-5
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.published.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
    = Course.distinct(:user_id).count
    expert instructor
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = Enrollment.distinct(:student_id).count
    active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule

- if current_user
  %h2 Continue Learning
  .course-container.mb-3
    - @enrolled_courses.each do |course|
      = render 'courses/course', course: course
  .text-end.mb-5
    = link_to 'See more enrolled courses',   enrolled_courses_path

%h2 Popular Courses
.course-container.mb-3
  - @popular_courses.each do |course|
    = render 'courses/course', course: course
.text-end.mb-5
  = link_to 'See more popular courses', courses_path(courses_search: { s: 'enrollments_count desc'})

%h2 Top Rated Courses
.course-container.mb-3
  - @top_rated_courses.each do |course|
    = render 'courses/course', course: course
.text-end.mb-5
  = link_to 'See more top rated courses', courses_path(courses_search: { s: 'average_rating desc'})

%h2 New Courses
.course-container.mb-3
  - @new_courses.each do |course|
    = render 'courses/course', course: course
.mb-5.text-end
  = link_to 'See more recent courses', courses_path(courses_search: { s: 'created_at desc' })

%h2 What our students have to say
.course-container.mb-5
  - @course_reviews.each do |course_review|
    = render 'enrollments/course_review', course_review: course_review