:css
  p {
    font-size: 28px;
  }

  .border-outside {
    width: 1200px;
    height: 850px;
    padding: 20px;
    text-align: center;
    border: 10px solid #563d7c;
  }

  .border-inside {
    width: 1150px;
    height: 800px;
    padding: 20px;
    text-align: center;
    border: 5px solid #563d7c;
  }

  .title {
    font-weight: bold;
    font-size: 64px;
  }

  .student,
  .course {
    font-weight: bold;
    font-size: 36px;
    font-family: "Gothic"
  }

  .certificate-info {
    padding: 10px
  }

  .brand {
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
  }

  .brand-name {
    padding-left: 5px;
    font-size: 24px;
    font-weight: bold;
  }

  .main {
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

%center
  .border-outside
    .border-inside
      .main
        %h1.title
          Certificate of Completion

        %p
          This is to certify that

        .student
          = @enrollment.student

        %p
          has successfully completed the course

        .course
          = @enrollment.course.title

        %p
          on the Videoskwela platform.


        .certificate-info
          .certificate-id
            %b Certificate id:
            = @enrollment.slug

          .certificate-url
            %b Certificate url:
            #{request.base_url}#{request.original_fullpath}

        .brand
          .brand-logo
            = image_tag wicked_pdf_asset_base64("logo.png"),
              height: "48",
              width: "auto"
          .brand-name
            Videoskwela
