%h1 Buy this course

.card
  .card-header
    %h4.card-title.mb-0
      = @course.title
  .card-body
    = form_tag course_enrollments_path(@course) do |f|
      %p.display-4
        = number_to_currency @course.price
      = submit_tag 'BUY NOW', class: 'btn btn-success btn-lg'
  .card-footer

.my-3
= link_to 'Back', course_path(@course)
