-# frozen_string_literal: true
= simple_form_for([@course, @lesson]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  = f.input :title, input_html: { autocomplete: 'off' }

  = f.input :content, as: :rich_text_area
  = f.hidden_field :course

  = f.input :video_url

  - if @lesson.video
    .badge
      = @lesson.video.filename

  .form-group.mb-4
    = f.label :video, class: 'form-label'
    - if @lesson.video.attached?
      %figure.w-50
        %video(controls="true" width="100%" preload="metadata")
          %source{ src: rails_blob_url(@lesson.video), type: "#{@lesson.video.content_type}" }
        %figcaption.d-flex.justify-content-between
          = @lesson.video.filename
          = link_to remove_video_thumbnail_course_lesson_path(@course, @lesson),
            method: :delete,
            data: { confirm: 'Are you sure?' },
            class: 'text-danger',
            title: 'remove' do
            %i.fa.fa-trash-alt

    = f.input :video, as: :file,
        input_html: { class: 'form-control'},
        hint: "MP4 file less than 50MB",
        label: false

  .form-group.mb-4
    = f.label :video_thumbnail, 'Video Thumbnail', class: 'form-label'
    - if @lesson.video_thumbnail.attached?
      %figure.w-50
        = image_tag @lesson.video_thumbnail, class: 'img-fluid'
        %figcaption.d-flex.justify-content-between
          = @lesson.video_thumbnail.filename
          = link_to remove_video_thumbnail_course_lesson_path(@course, @lesson),
            method: :delete,
            data: { confirm: 'Are you sure?' },
            class: 'text-danger',
            title: 'remove' do
            %i.fa.fa-trash-alt


    = f.input :video_thumbnail, as: :file,
      hint: "PNG, JPG or JPEG files less than 500KB",
      label: false,
      input_html: { class: 'form-control'}

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
