%figure.mb-4{ style: "min-height: 480px; position: relative;" }
  - if @lesson.video.attached?
    %video(controls="true" poster="#{url_for @lesson.video_thumbnail}" width="100%" preload="metadata")
      %source{ src: rails_blob_url(@lesson.video), type: "#{@lesson.video.content_type}" }
  - else
    .bg-light.mb-4.h-100.w-100{ style: "position: absolute;" }

.card.mb-3
  .card-header
    %h5.card-title.mb-0
      - if lesson.viewed_by? current_user
        .far.fa-check-square.me-1
      - else
        .far.fa-square.me-1
      = link_to lesson.title, course_lesson_path(course, lesson)
  .card-body
    = lesson.content
  - if policy(course).edit?
    .card-footer
      - if policy(lesson).edit?
        = link_to edit_course_lesson_path(course, lesson), class: 'btn btn-outline-warning btn-sm me-1' do
          .fa.fa-edit.me-1
          Edit
      - if policy(lesson).destroy?
        = link_to [course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' do
          .fa.fa-trash.me-1
          Delete
  .card-footer
    - if lesson.previous_lesson
      .float-start
        = link_to course_lesson_path(@course, lesson.previous_lesson), class: 'btn btn-sm btn-info' do
          %i.fa.fa-arrow-left.me-1
          Previous
    - if lesson.next_lesson
      .float-end
        = link_to course_lesson_path(@course, lesson.next_lesson), class: 'btn btn-sm btn-info' do
          Next
          %i.fa.fa-arrow-right.ms-1


