.container.g-0
  .row
    - unless policy(@course).author?
      .col-auto
        - if lesson.viewed_by? current_user
          .far.fa-check-square
        - else
          .far.fa-square
    .col
      .lesson-title
        = link_to course_lesson_path(@course, lesson) do
          - if lesson.row_order
            %span.mx-1
              = "#{lesson.row_order_rank + 1}."
          = lesson.title

    .col-auto.text-end
      %span.text-muted{ title: 'unique viewers' }
        %i.fa.fa-eye.me-1
        = lesson.student_lessons_count

    -#   .float-end
    -#     - if policy(lesson).edit?
    -#       .d-inline-block.me-1
    -#         = link_to edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-outline-warning px-1 py-0', title: 'edit' do
    -#           .fa.fa-edit
    -#     - if policy(lesson).destroy?
    -#       .d-inline-block
    -#         = link_to [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger px-1 py-0', title: 'destroy' do
    -#           .fa.fa-trash-alt