- page_title @lesson.title

%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Courses', courses_path
    %li.breadcrumb-item
      = link_to @course.title, course_path(@course)
    %li.breadcrumb-item.active{"aria-current" => "page"}
      = @lesson.title
.row
  .col-xl-4
    = render 'courses/course_card', course: @course
  .col-xl-8
    = render 'lessons/lesson', course: @course, lesson: @lesson
    = link_to 'Show all lessons', course_lessons_path(@course)