.card.h-100
  - if course.image.attached?
    = image_tag course.image,
      class: "card-img-top sh-22",
      alt: "course image"

  .card-body
    %h5.heading.mb-0
      = link_to detail_courses_path(slug: course.slug), class: "body-link stretched-link course-title" do
        = course.title
  .card-footer.border-0.pt-0
    .mb-2
      = render partial: "layouts/rating", locals: { stars_count: course.reviews.average(:rating).to_i, current_rating: course.reviews.average(:rating) }

      .text-muted.d-inline-block.text-small.align-text-top
        = "(#{course.reviews.count})"

    .card-text.mb-0
      .text-muted.text-overline.text-small
        %del
          = number_to_currency(course.price)
      %div FREE