.card.h-100
  .card-body
    %h5.card-title
      .fa.fa-graduation-cap
      = course.title
    %p.card-text
      = simple_format(course.short_description)
  %ul.list-group.list-group-flush
    %li.list-group-item.text-center.d-flex.flex-column.justify-content-between.gap-2
      = enrollment_button course
      = review_button course
    %li.list-group-item.d-flex
      .col
        - if course.average_rating.zero?
          .badge.bg-success
            New course
        - else
          .text-warning.fa.fa-star.me-1
          = course.average_rating
          average rating
      .col.text-end
        .text-warning.fa.fa-users.me-1
        = pluralize(course.enrollments_count, 'student')

    %li.list-group-item
      .fa.fa-tasks.me-1
      = pluralize(course.lessons.count, 'lesson')
    %li.list-group-item.d-flex.justify-content-between
      .jea
        .fa.fa-globe.me-1
        = course.language
      .jea
        .fa.fa-signal.me-1
        = course.level

    %li.list-group-item
      .far.fa-clock.me-1
      = course.created_at
    %li.list-group-item
      .fa.fa-chalkboard-teacher.me-1
      = link_to course.author, user_path(course.author)
  .card-footer
    = link_to 'Show', course, class: 'btn btn-sm btn-primary'
    - if user_signed_in?
      = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning' if policy(course).edit?
      = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' if policy(course).destroy?