.card
  .card-header
    %h5.card-title.mb-0
      .fa.fa-graduation-cap.me-1
      = course.title
  .card-body
    .row.g-0
      .col-sm-9.col-xl-12
        = simple_format(course.short_description)
    %table.table.table-sm.mt-2.mb-4
      %tbody
        %tr
          %th Language
          %td= course.language
        %tr
          %th Level
          %td= course.level
        %tr
          %th Price
          %td= number_to_currency course.price
        %tr
          %th Author
          %td= link_to course.author, user_path(course.author)
  - if policy(course).edit?
    .card-footer.bg-white
      = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-outline-warning'