.card
  - if @course.image.attached?
    = image_tag @course.image, class: "card-img-top p-1", height: 200
  .card-body
    %h5.card-title
      .fa.fa-graduation-cap.me-1
      = course.title

    .row.g-0
      .col-sm-9.col-xl-12
        = simple_format(course.short_description)
    %table.table.table-sm.mt-2.mb-4
      %tbody
        %tr
          %th Language
          %td= course.language
        %tr
          %th Level
          %td= course.level
        %tr
          %th Price
          %td
            .d-grid
              = price_caption(course)
              .mt-2
                = enrollment_button(course)
        %tr
          %th Author
          %td= link_to course.author, user_path(course.author)

        - if current_user && (policy(course).author? || current_user.has_role?(:admin))
          %tr
            %th Status
            %td
              = badge_for_course_status(course)
              - if policy(course).author? && course.can_publish?
                = link_to 'Publish', publish_course_path(course), method: :patch, class: 'btn btn-primary btn-sm ms-1'
              - if current_user.has_role? :admin
                = link_to 'Review', review_course_path(course), method: :patch, class: 'btn btn-primary btn-sm ms-1' if course.can_review?
                = link_to 'Approve', approve_course_path(course), method: :patch, class: 'btn btn-primary btn-sm ms-1' if course.can_approve?
        %tr
          %th Tags
          %td
            - course.tags.each do |tag|
              .badge.bg-info
                = tag.name


  - if policy(course).edit?
    .card-footer.bg-white
      = link_to 'Add lesson', new_course_lesson_path(course), class: 'btn btn-sm btn-primary' if policy(course).author?
      = link_to 'Edit', course_course_wizard_index_path(course), class: 'btn btn-sm btn-outline-warning'