.card.card-hover.mb-3.h-100
  = link_to course, class: 'card-image-top' do
    - if course.image.present?
      = image_tag(course.image, class: 'card-img-top', height: 200, alt: course.title)
    - else
      %div{ style: 'height: 200px; background-color: #ddd;' }
  .card-body
    %h4.mb-2.text-truncate-line-2
      = link_to course, class: 'text-inherit' do
        = course.title

    %ul.mb-3.list-inline
      %li.list-inline-item
        .fa.fa-globe.me-1
        = course.language
      %li.list-inline-item
        .fa.fa-signal.me-1
        = course.level

    .d-flex.align-items-center
      .rating.d-flex.align-items-center.text-warning.me-2
        .small.me-2
          = show_star_rating(course.average_rating)
        .fs-5.fw-lighter
          = course.average_rating
      .students.text-muted
        .small.d-inline-block
          = "(#{course.enrollments_count})"

  .card-footer
    .row.align-items-center.g-0
      .col-auto
        = image_tag(course.author.avatar_url, class: 'rounded-circle avatar-xs')
      .col.ms-2
        %span
          = course.author.username
      .col-auto
        = link_to '#', class: 'text-muted' do
          %i.fa.fa-bookmark