.card.h-100
  .card-body
    %h5.card-title
      .fa.fa-book
      = course.title
    %p.card-text
      = course.description
  %ul.list-group.list-group-flush
    %li.list-group-item
      .far.fa-clock.me-1
      = course.created_at
    %li.list-group-item
      .fa.fa-chalkboard-teacher.me-1
      = course.author
  .card-footer
    = link_to 'Show', course, class: 'btn btn-sm btn-primary'
    = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning'
    = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'