.card.mb-2
  .card-header
    Filter by
  .card-body
    = search_form_for @ransack_courses, as: :courses_search, url: @ransack_path do |f|
      = f.search_field :title_cont, placeholder: 'Title', class: 'form-control mb-2'
      = f.search_field :course_tags_tag_name_cont, placeholder: 'Tag', class: 'form-control mb-2'
      = f.search_field :short_description_cont, placeholder: 'Description', class: 'form-control mb-2'
      = f.select :language_cont, Course::LANGUAGES, { include_blank: 'Language' }, class: 'form-select mb-2'
      = f.select :level_cont, Course::LEVELS, { include_blank: 'Level' }, class: 'form-select mb-2'
      = f.search_field :price_eq, placeholder: 'Price', class: 'form-control mb-2'
      = f.search_field :author_email_cont, placeholder: 'Author', class: 'form-control mb-2'
      .row.g-2
        .col-lg-6
          = f.submit 'Search', class: 'btn btn-primary w-100'
        .col-lg-6
          = link_to 'Refresh', @ransack_path, class: 'btn btn-secondary w-100'