-# frozen_string_literal: true

.card-body
  = simple_form_for(@course, defaults: { wrapper_html: { class: 'mb-3' }, label_html: { class: 'form-label' } }) do |f|
    = f.error_notification

    = f.input :title, wrapper_html: { class: 'mb-3' }

    .form-group.mb-3
      = f.label :description, class: 'form-label'
      = f.rich_text_area :description
      %small= f.error :description, class: 'text-danger'

    = f.input :short_description, wrapper_html: { class: 'mb-3' }
    = f.input :language, collection: %w[English Tagalog], wrapper_html: { class: 'mb-3' }
    = f.input :level, collection: %w[Beginner Intermediate Advanced], wrapper_html: { class: 'mb-3' }
    = f.input :price, wrapper_html: { class: 'mb-3' }

    .form-actions
      = f.button :submit, class: 'btn btn-primary'
