-# frozen_string_literal: true

.card-body
  = simple_form_for(@course, defaults: { wrapper_html: { class: 'mb-4' }, label_html: { class: 'form-label' } }) do |f|
    = f.error_notification

    = f.input :title, wrapper_html: { class: 'mb-4' }

    .form-group.mb-4
      = f.label :image, class: 'form-label'
      - if @course.image.attached?
        .border.rounded.w-25.p-1.mb-2
          = image_tag @course.image, class: 'img-fluid'
      = f.input :image, as: :file, hint: 'Image must be less than 500KB',
        label: false,
        input_html: { class: 'form-control'},
        label_html: { class: 'form-label' }

    = f.input :description, as: :rich_text_area
    = f.input :short_description
    = f.input :language, collection: Course::LANGUAGES
    = f.input :level, collection: Course::LEVELS
    = f.input :price, input_html: { min: 0 }

    .form-actions
      = f.button :submit
