%h1 Courses Pending Approval

.row
  .col-md-3.mb-3
    %aside
      = render 'filter_course'
      = render 'sort_course'
      = render 'filter_course_by_tags'
  .col-md-9
    .table-responsive
      %table.table.table-bordered.table-sm.table-striped
        %thead
          %tr
            %th
              .text-muted.fa.fa-graduation-cap.me-1
              Course
            %th
              .text-muted.fa.fa-chalkboard-teacher.me-1
              Author
            %th
              .text-muted.fa.fa-tachometer-alt.me-1
              Status
            %th
              .text-muted.fa.fa-thumbs-up.me-1
              Action

        %tbody
          - @courses.each do |course|
            %tr
              %td
                = link_to course.title, course
              %td= course.author
              %td
                = badge_for_course_status(course)
              %td
                = link_to 'Review', review_course_path(course), method: :patch, class: 'btn btn-outline-primary btn-sm py-0 px-2' if course.can_review?
                = link_to 'Approve', approve_course_path(course), method: :patch, class: 'btn btn-outline-primary btn-sm py-0 px-2' if course.can_approve?


    != pagy_bootstrap_nav(@pagy)