- page_title @course.title

%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Courses', courses_path
    %li.breadcrumb-item.active{"aria-current" => "page"}
      = @course.title

.row
  .col-lg-8.order-1.order-lg-0.mb-3
    %h4
      .fa.fa-tasks.me-1
      = pluralize(@course.lessons_count, 'Lesson')
      .float-end
        .fa.fa-spinner
        = number_to_percentage(@course.progress(current_user), precision: 0)

    %ul.list-group.mb-4
      - @lessons.each do |lesson|
        = render 'lessons/lesson_preview', lesson: lesson

    %h4
      .fa.fa-comment.me-1
      = pluralize(@course_reviews.size, 'Reviews')

    %ul.list-group
      - @course_reviews.each do |course_review|
        = render 'enrollments/course_review', course_review: course_review

  .col-lg-4.order-0.order-lg-1.mb-3
    .sticky-top
      = render 'course_card', course: @course



