- page_title @course.title

%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Courses', courses_path
    %li.breadcrumb-item.active{"aria-current" => "page"}
      = @course.title

.row
  .col-lg-8.order-1.order-lg-0.mb-3
    .rounded.border.mb-4.p-4
      %h3.card-title
        .fa.fa-graduation-cap.me-1
        = @course.title

      %ul.list-group.list-group-flush.border-none
        %li.list-group-item.border-bottom-0
          .far.fa-clock.me-1
          Created
          = @course.created_at
        %li.list-group-item.border-bottom-0
          .far.fa-clock.me-1
          Last updated
          = @course.created_at
        %li.list-group-item.border-bottom-0
          .fa.fa-globe.me-1
          = @course.language
        %li.list-group-item
          .fa.fa-signal.me-1
          = @course.level

      .card-body
        = @course.description
    %h4
      .fa.fa-tasks.me-1
      = pluralize(@course.lessons_count, 'Lesson')
      .float-end
        .fa.fa-spinner
        = number_to_percentage(@course.progress(current_user), precision: 0)

    %ul.list-group.mb-4.lesson-sortable
      - if policy(@course).author?
        - @lessons.each do |lesson|
          = content_tag "div", id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: course_lesson_sort_path(@course, lesson)} do
            .list-group-item.d-flex
              .fa.fa-sort.all-scroll.align-self-center.me-4{:style => "cursor: grab;"}
              = render 'lessons/lesson_preview', lesson: lesson
      - else
        - @lessons.each do |lesson|
          .list-group-item.d-flex
            = render 'lessons/lesson_preview', lesson: lesson
    %h4
      .fa.fa-comment.me-1
      = pluralize(@course_reviews.size, 'Reviews')

    %ul.list-group
      - @course_reviews.each do |course_review|
        = render 'enrollments/course_review', course_review: course_review

  .col-lg-4.order-0.order-lg-1.mb-3
    .sticky-top
      = render 'course_card', course: @course



