- page_title @course.title

%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Courses', courses_path
    %li.breadcrumb-item
      = link_to @course.title, course_path(@course)
    %li.breadcrumb-item.active{"aria-current" => "page"}
      = step.to_s.humanize

.card.mb-5.wizard
  .card-header.border-0.pb-0
    = render 'progress_status'
  .card-body
    = yield
  .card-footer.text-center.border-0.pt-1
    = link_to previous_wizard_path,
      class: class_names("btn btn-icon btn-icon-start btn-outline-primary btn-prev", { disabled: wizard_steps.index(step).zero? }) do
      %i{"data-acorn-icon" => "chevron-left"}
      %span Back

    = space
    = link_to next_wizard_path, class: 'btn btn-icon btn-icon-end btn-outline-primary btn-next' do
      - if wizard_steps.index(step) + 1 == wizard_steps.count
        %span Finish
      - else
        %span Skip
        %i{"data-acorn-icon" => "chevron-right"}