= render layout: 'courses/course_wizard/step' do
  .container.d-flex.justify-content-center.align-items-center.mb-4
    .progresses
      .steps.bg-success
        %span
          %i.fa.fa-check
      %span.line.bg-success
      .steps.bg-success
        %span
          %i.fa.fa-check
      %span.line.bg-success
      .steps.bg-light.border.border-success.border-4
        %span.font-weight-bold.text-success 3

  %table.table.table-sm.mt-2.mb-4
    %tbody
      %tr
        %th Title
        %td= @course.title
      %tr
        %th Short Description
        %td= @course.short_description
      %tr
        %th Language
        %td= @course.language
      %tr
        %th Level
        %td= @course.level
      %tr
        %th Price
        %td= @course.price