!!!
%html{ lang: "en", "data-footer"=>"true",
  "data-placement"=>"vertical",
  "data-behaviour" => "unpinned",
  "data-layout"=>"boxed",
  "data-radius"=>"rounded",
  "data-color"=>"dark-purple",
  "data-navcolor"=>"default",
  "data-show"=>"true",
  "data-dimension"=>"desktop",
  "data-menu-animate" => "hidden" }
  %head
    = render "layouts/head"

    = render "layouts/google_analytics" if Rails.env.production?

  %body{ "data-bs-padding" => "15px" }
    = render "layouts/modal"

    #root
      = render "layouts/nav"

      %main
        .container
          = render "layouts/messages"
          = yield

      = render "layouts/footer"
