!!!
%html{ lang: 'en' }
  %head
    %meta{:charset => 'utf-8' }
    %title
      = content_for?(:title) ? yield(:title) : "Videoskwela"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/google_analytics' if Rails.env.production?
  %body
    = render 'layouts/header'
    = render 'layouts/messages'

    .container.mt-4
      = yield
    = render 'layouts/footer'
