!!!
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %title
      = content_for?(:title) ? yield(:title) : "Videoskwela"
    %meta{ content: "width=device-width,initial-scale=1", name: "viewport" }
    %meta{ description: "Online learning and skill sharing platform" }
    %meta{ keywords: "online education, course platform, video tutorials" }
    %meta{ author: "Jess Alejo" }
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tags
    = csp_meta_tag

    = render "layouts/head"

    = stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload"

    = stylesheet_pack_tag "application", media: "all",
      "data-turbolinks-track": "reload"

    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
    = render "layouts/google_analytics" if Rails.env.production?
  %body
    = render "layouts/navbar"

    = render "layouts/messages"
    = yield

    = render "layouts/footer"
